<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.smartLearning.mapper.AchievementsMapper">
    
    <resultMap type="Achievements" id="AchievementsResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="achievement"    column="achievement"    />
        <result property="achievementName"    column="achievement_name"    />
        <result property="rewardPoints"    column="reward_points"    />
        <result property="achievedAt"    column="achieved_at"    />
    </resultMap>

    <sql id="selectAchievementsVo">
        select id, user_id, achievement, achievement_name, reward_points, achieved_at from achievements
    </sql>

    <select id="selectAchievementsList" parameterType="Achievements" resultMap="AchievementsResult">
        <include refid="selectAchievementsVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="achievement != null  and achievement != ''"> and achievement = #{achievement}</if>
            <if test="achievementName != null  and achievementName != ''"> and achievement_name like concat('%', #{achievementName}, '%')</if>
            <if test="rewardPoints != null "> and reward_points = #{rewardPoints}</if>
            <if test="achievedAt != null "> and achieved_at = #{achievedAt}</if>
        </where>
    </select>
    
    <select id="selectAchievementsById" parameterType="Long" resultMap="AchievementsResult">
        <include refid="selectAchievementsVo"/>
        where id = #{id}
    </select>

    <insert id="insertAchievements" parameterType="Achievements" useGeneratedKeys="true" keyProperty="id">
        insert into achievements
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="achievement != null">achievement,</if>
            <if test="achievementName != null">achievement_name,</if>
            <if test="rewardPoints != null">reward_points,</if>
            <if test="achievedAt != null">achieved_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="achievement != null">#{achievement},</if>
            <if test="achievementName != null">#{achievementName},</if>
            <if test="rewardPoints != null">#{rewardPoints},</if>
            <if test="achievedAt != null">#{achievedAt},</if>
         </trim>
    </insert>

    <update id="updateAchievements" parameterType="Achievements">
        update achievements
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="achievement != null">achievement = #{achievement},</if>
            <if test="achievementName != null">achievement_name = #{achievementName},</if>
            <if test="rewardPoints != null">reward_points = #{rewardPoints},</if>
            <if test="achievedAt != null">achieved_at = #{achievedAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAchievementsById" parameterType="Long">
        delete from achievements where id = #{id}
    </delete>

    <delete id="deleteAchievementsByIds" parameterType="String">
        delete from achievements where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>