<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.smartLearning.mapper.LearningResourcesMapper">
    
    <resultMap type="LearningResources" id="LearningResourcesResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="planId"    column="plan_id"    />
        <result property="filePath"    column="file_path"    />
        <result property="fileType"    column="file_type"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectLearningResourcesVo">
        select id, user_id, plan_id, file_path, file_type, created_at from learning_resources
    </sql>

    <select id="selectLearningResourcesList" parameterType="LearningResources" resultMap="LearningResourcesResult">
        <include refid="selectLearningResourcesVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="planId != null "> and plan_id = #{planId}</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="selectLearningResourcesById" parameterType="Long" resultMap="LearningResourcesResult">
        <include refid="selectLearningResourcesVo"/>
        where id = #{id}
    </select>

    <insert id="insertLearningResources" parameterType="LearningResources" useGeneratedKeys="true" keyProperty="id">
        insert into learning_resources
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="planId != null">plan_id,</if>
            <if test="filePath != null and filePath != ''">file_path,</if>
            <if test="fileType != null">file_type,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="planId != null">#{planId},</if>
            <if test="filePath != null and filePath != ''">#{filePath},</if>
            <if test="fileType != null">#{fileType},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateLearningResources" parameterType="LearningResources">
        update learning_resources
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="planId != null">plan_id = #{planId},</if>
            <if test="filePath != null and filePath != ''">file_path = #{filePath},</if>
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLearningResourcesById" parameterType="Long">
        delete from learning_resources where id = #{id}
    </delete>

    <delete id="deleteLearningResourcesByIds" parameterType="String">
        delete from learning_resources where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>